<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ControleDespesas</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios">
                <span class="oi oi-people" aria-hidden="true"></span> Usuários
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categorias">
                <span class="oi oi-folder" aria-hidden="true"></span> Categorias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transacoes">
                <span class="oi oi-dollar" aria-hidden="true"></span> Transações
            </NavLink>
        </div>
                <div class="nav-item px-3 mt-3">
                    <button class="btn btn-link nav-link text-start" @onclick="Logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </button>
                </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    [Inject]
    private HttpClient Http { get; set; } = default!;

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    private MudBlazor.ISnackbar Snackbar { get; set; } = default!;

    private async Task Logout()
    {
        try
        {
            var res = await Http.PostAsync("api/Usuario/logout", null);
            if (res.IsSuccessStatusCode)
            {
                Snackbar.Add("Logout realizado.", MudBlazor.Severity.Success);
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                Snackbar.Add("Erro ao efetuar logout.", MudBlazor.Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao efetuar logout: {ex.Message}", MudBlazor.Severity.Error);
        }
    }
}
